@model StockControl.Models.Supplier

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit @Html.DisplayFor(model => model.SupplierName)</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="SupplierID" />
            <div class="form-group">
                <label asp-for="SupplierName" class="control-label"></label>
                <input asp-for="SupplierName" class="form-control" />
                <span asp-validation-for="SupplierName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SupplierEmail" class="control-label"></label>
                <input asp-for="SupplierEmail" class="form-control" />
                <span asp-validation-for="SupplierEmail" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SupplierContactNumber" class="control-label"></label>
                <input asp-for="SupplierContactNumber" class="form-control" />
                <span asp-validation-for="SupplierContactNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SupplierAddress" class="control-label"></label>
                <input asp-for="SupplierAddress" class="form-control" />
                <span asp-validation-for="SupplierAddress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SupplierUrl" class="control-label"></label>
                <input asp-for="SupplierUrl" class="form-control" />
                <span asp-validation-for="SupplierUrl" class="text-danger"></span>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary">Save</button>
                <button class="btn btn-secondary"><a asp-action="Index">Cancel</a></button>
            </div>
        </form>
    </div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
